.close {
  position: relative;
  cursor: pointer;
  float: right;
  margin-top: -455px;
  margin-right: -20px;
}

.formelements {
  width: calc(100% - 2em);
  margin: 1em
}
mat-form-field {
  padding: 2px 14px;
  width: 100%;
}
.error{
  color: red;
  margin-left: 14px;
  font-weight: normal;
}
@media (max-width: 768px) { /*breakpoint*/
  .close {
    /* margin-top: -475px; */
  }
}

/* Strike css */
.strike {
  display: block;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  margin: auto;
}

.strike > span {
  position: relative;
  display: inline-block;
}

.strike > span:before,
.strike > span:after {
  content: "";
  position: absolute;
  top: 50%;
  width: 9999px;
  height: 1px;
  background: black;
}

.strike > span:before {
  right: 100%;
  margin-right: 15px;
}

.strike > span:after {
  left: 100%;
  margin-left: 15px;
}

.register-btn {
  margin: 5px 1em;
}
mat-hint {
  color: red;
}
/* input {
  border-left: 3px solid;
  border-radius: 5px;
  transition: border-color .5s ease-out;
}

input:optional {
  border-left-color: #999;
}
input:required {
  border-left-color: palegreen;
}
input:invalid {
  border-left-color: salmon;
} */
