<h1 mat-dialog-title>{{station.id ? 'Modify' : 'Create'}}</h1>
<mat-dialog-content>
  <section>
    <mat-accordion>
      <div class="container">
        <div class="section-3col">
          <app-pic-uploader #picUploader [(imageSource)]="station.logo" defaultBackgound="/assets/images/radio.svg"></app-pic-uploader>
        </div>
        <div class="section-2n3col">
          <mat-form-field>
            <input matInput placeholder="Station Name" type="text" [(ngModel)]= "station.name" required minlength="3" #name="ngModel">
          </mat-form-field>
          <mat-form-field >
            <input matInput placeholder="Frequency" type="number" [(ngModel)]= "station.frequency" required min="88" max="108" #freq="ngModel">
          </mat-form-field>
          <mat-form-field>
            <input matInput placeholder="Assistant Keyword" type="text" [(ngModel)]= "station.assistKeyword">
          </mat-form-field>
        </div>
      </div>
      <mat-form-field>
        <input matInput placeholder="Player URL" type="url" [(ngModel)] = "station.playurl" required #url="ngModel">
      </mat-form-field>
      <div class="container">
        <mat-form-field class="section-3col">
          <input matInput placeholder="City" type="text" [(ngModel)] = "station.geo.city" >
        </mat-form-field>
        <mat-form-field class="section-3col">
          <input matInput placeholder="State" type="text" [(ngModel)] = "station.geo.state" >
        </mat-form-field>
        <mat-form-field class="section-3col">
          <input matInput placeholder="Country" type="text" [(ngModel)] = "station.geo.country" >
        </mat-form-field>
      </div>
      <mat-form-field>
        <input matInput placeholder="Station Website" type="url" [(ngModel)] = "station.website" >
      </mat-form-field>
      <br>
    </mat-accordion>
  </section>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-raised-button color="primary" [disabled]="!(name.valid && freq.valid && url.valid)" (click)="save(picUploader)">Save</button>
    <button mat-raised-button (click)="cancel(false)">Cancel</button>
</mat-dialog-actions>
