<div #drawer class="drawer" [hidden]="!showDraw">
  <div class="draw-header">
    <div class="area">
      <img mat-list-avatar class="draw-header-img" src="{{usrSrvc.currentUser.userIcon}}" >
    </div>
    <div class="info-container">
      <h4 mat-line class="user-header">{{usrSrvc.currentUser.name}}</h4>
      <p mat-line class="small">{{usrSrvc.currentUser.getProviderName()}} account.</p>
    </div>
  </div>
  <mat-list role="list">
    <mat-list-item role="listitem" (click)="onOptionClick('createstation')">
        <h4 mat-line>Create new Station</h4>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item role="listitem" (click)="onOptionClick('sharestation')">
      <h4 mat-line>Share Stations</h4>
    </mat-list-item>
    <mat-divider></mat-divider>
    <mat-list-item role="listitem" (click)="onOptionClick('showguide')">
      <h4 mat-line>Guide</h4>
    </mat-list-item>
    <mat-divider></mat-divider>
  </mat-list>
  <div class="draw-footer">
    <button mat-stroked-button color="accent" (click)="onOptionClick('signout')">Sign Out</button>
  </div>
</div>
