.spacer {
  flex: 1 1 auto;
}
span:focus{
  outline: none;
  border: 0;
}
span {
  cursor: pointer;
}
mat-toolbar{
  position: fixed;
}

/* Drawer css */

.drawer {
  position: fixed;
  overflow: scroll;
  border: 1px solid gray;
  width: 260px;
  right: 20px;
  height: calc(80% - 140px);
  top: 70px;
  z-index: 999;
  background-color: white;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}

.draw-header {
  height: 60px;
  text-align: center;
  padding: 5px;
  border-bottom: 1px solid lightgray;
}
.draw-header-img {
  height: 50px;
  width: 50px;
}
mat-list {
  padding-top: 0px;
  background-color: #f5f5f5;
  height: calc(100% - 115px);
  overflow-y: scroll;
}
.draw-footer {
  position: absolute;
  width: 100%;
  bottom: 0px;
  height: 55px;
  text-align: right;
  padding: 10px;
  border-top: 1px solid lightgray;
}
.area{
  /* margin:5px; */
  text-align: center;
  display:block;
  float: left;
}
.info-container {
  color: black;
  padding-left: 10px;
  text-align: left;
  margin: 0 0 0 55px;
}
.user-header {
  margin: 0;
  font-size: medium;
  font-weight: bold;
}
.small {
  font-size: small;
}
mat-list-item {
  cursor: pointer;
}
mat-list-item:hover {
  background-color: darkgray;
}
