.appcontainer{
  max-height: calc(100% - 56px);
  top: 64px;
  position: fixed;
  width: 100%;
  overflow: scroll;
  bottom: 0px;
  -ms-overflow-style: none;
}
.appcontainer::-webkit-scrollbar {
  width: 0 !important;
}
