.spacer {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}
.circle{
  border: 1px solid black;
  border-radius: 50%;
}
mat-toolbar {
  position: fixed;
  bottom: 0px;
  border-top: 2px;
  border-color: gray;
}
mat-toolbar-row {
  padding-left: 0px;
}
mat-list {
  background-color: white;
}
mat-list-item {
  cursor: pointer;
}
.active {
  background-color: #ccccff;
}
.area{
  margin:5px;
  text-align: center;
  display:block;
  float: left;
}

.content {
  display:table-cell;
  vertical-align:middle;
  /* border-radius: 50%; */
  height: 60px;
}
.info-container {
  color: white;
  bottom: 0px;
  padding-left: 10px;
}
small {
  font-size: 10px;
}
.drawer {
  position: fixed;
  overflow: scroll;
  border: 1px solid gray;
  width: 300px;
  right: 0px;
  max-height: 400px;
  bottom: 70px;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
}
.list-image {
  height: 65px;
  width: 65px;
}
.container {
  display: flex;
  width: 100%;
  margin: 0px;
  padding: 0px;
}
.section-1of3col {
  /* flex: 1; grow */
  width: 33%;
}
.section-2of3col {
  /* flex: 1; grow */
  width: 33%;
}
.section-3of3col {
  flex: 1; /*grow*/
  width: 33%;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .section-1of3col {
    /* flex: 1; grow */
    width: 50%;
  }
  .section-2of3col {
    /* flex: 1; grow */
    width: 35%;
  }
  .section-3of3col {
    /* flex: 1; grow */
    width: 15%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .section-1of3col {
    /* flex: 1; grow */
    width: 50%;
  }
  .section-2of3col {
    /* flex: 1; grow */
    width: 35%;
  }
  .section-3of3col {
    /* flex: 1; grow */
    width: 15%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .section-1of3col {
    /* flex: 1; grow */
    width: 33%;
  }
  .section-2of3col {
    /* flex: 1; grow */
    width: 33%;
  }
  .section-3of3col {
    /* flex: 1; grow */
    width: 33%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .section-1of3col {
    /* flex: 1; grow */
    width: 33%;
  }
  .section-2of3col {
    /* flex: 1; grow */
    width: 33%;
  }
  .section-3of3col {
    /* flex: 1; grow */
    width: 33%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .section-1of3col {
    /* flex: 1; grow */
    width: 33%;
  }
  .section-2of3col {
    /* flex: 1; grow */
    width: 33%;
  }
  .section-3of3col {
    /* flex: 1; grow */
    width: 33%;
  }
}
