<div #drawer class="drawer" [hidden]="!showDraw">
  <mat-list role="list">
    <mat-list-item (click)="playerSrvc.playSelected(idx)" role="listitem" *ngFor="let item of playerSrvc.playList; let lastitem = last; let idx = index;" [ngClass] ="{'active' : playerSrvc.currentIndex == idx}" >
        <img mat-list-avatar class="list-image" src="{{item.logo}}">
        <h4 mat-line>{{item.name}}</h4>
        <p mat-line> {{item.frequency}} &bull; {{item.geo.city}}, {{item.geo.state}} </p>
        <mat-divider *ngIf="!lastitem"></mat-divider>
    </mat-list-item>
  </mat-list>
</div>
<mat-toolbar color='primary'>
  <mat-toolbar-row class="container">
    <div class="section-1of3col">
      <div class="area">
          <img class="content" src="{{currentStation?.logo}}">
      </div>
      <div class="info-container">
        <h3>{{currentStation?.name}}</h3>
        <small>{{playinInfo}}</small>
      </div>
    </div>
    <div class="section-2of3col center">
      <span class='spacer'></span>
      <button mat-icon-button (click)="onPrevious()" [disabled]="!playerSrvc.canGoPrevious">
        <mat-icon >skip_previous</mat-icon>
      </button>
      <button mat-fab color="accent" (click)="onPlay()" [disabled]="!playerSrvc.canPlay">
        <mat-icon>{{ playerSrvc.isPlaying ? 'stop' : 'play_arrow' }}</mat-icon>
      </button>
      <button mat-icon-button (click)="onNext()" [disabled]="!playerSrvc.canGoNext">
        <mat-icon >skip_next</mat-icon>
      </button>
    </div>
    <div class="section-3of3col right">
      <button mat-icon-button (click)="showDraw = !showDraw">
          <mat-icon>queue_music</mat-icon>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
