#ppBody {
  font-size: 11pt;
  width: 100%;
  margin: 0 auto;
  text-align: justify;
}

#ppHeader {
  font-family: verdana;
  font-size: 21pt;
  width: 100%;
  margin: 0 auto;
  text-align: center
}

.ppConsistencies {
  display: none;
}

h1, mat-dialog-content {
  border-bottom: 1px solid rgba(0,0,0,.14);
}
.grayText {
  margin: 16px 0 4px;
}
h2 {
  margin: 0;
}
