<div *ngIf="!usrSrvc.currentUser?.loggedIn">
    <div style="text-align:center; margin-top: 50px; width: calc(100% - 16px)">
      <img alt="Radio" src="/assets/images/logo.png" width="300">
      <!-- <h1>only what I like to listen.</h1> -->
      <h2>It's good to hear that somebody care to share what they like.</h2>
      <button mat-raised-button color="primary" (click)="loginClicked()">Login</button>
      <h2>to see what's in the bag for you.</h2>
    </div>
  <app-footer></app-footer>
</div>
<div *ngIf="usrSrvc.currentUser?.loggedIn" class="container">
  <div class="header"><h2>{{shareData?.name}}</h2></div>
  <mat-list #selectList *ngIf="shareData.stations && shareData.stations.length > 0">
    <mat-list-item *ngFor="let item of shareData.stations; let lastitem = last; let idx = index; let isOdd=odd; let isEven=even" [class.odd]="isOdd" [class.even]="isEven" >
        <img mat-list-avatar [src] = "item.logo">
        <span mat-line>{{item.name}}</span>
        <p mat-line> {{item.frequency}} &bull; {{item.geo.city}}, {{item.geo.state}} </p>
        <mat-checkbox align="end" [(ngModel)]="item.selected"></mat-checkbox>
    </mat-list-item>
  </mat-list>
  <button mat-raised-button class="import-btn" (click)="cancel()">cancel</button>
  <button mat-raised-button color="accent" class="import-btn" (click)="import()" [disabled]="noneSelected()">Add to my List</button>
</div>
